/* https://coolors.co/000000-f1106e-35def5-00ff73-7300ff */

@keyframes fadein{
    from{
        opacity: 0;
    }
    To{
        opacity: 1;
    }
}

section#intro{
    background-color: #000000;
    color: white;
    height: 100vh;
}

#intro h1{
    animation: fadein ease-in 1s;
    font-size: 96px;
}

#intro h3{
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

#intro code{
    font-size: 32px;
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 4s;
    opacity: 0;
    animation-fill-mode: forwards;
}

section#about{
    color: #000000;
    background-color: #35DEF5;
    padding: 60px;
    font-size: 30px;
}

#about h2{
    font-size: 30px;
}

#about h4{
    font-size: 20px;
}



#intro #downArrow{
    font-size: 75px;
    position: center;
    bottom: 10px;
    color: #7300ff;

    opacity: 0;
    animation-name: fadein;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#intro #downArrow:hover {
    color: #35DEF5;
}

#contact{
    background-color: #35DEF5;
    color: #000000;
    font-size: 30px;
    padding: 60px;
}

#contact h5{
    font-size: 27px;
}

#contact p{
    font-size: 20px;
}

input{
    width: 100%;
}

#portfolio{
    background-color: #7300ff;
    color: black;
    padding: 20px;
}

h7{
    font-size: 30px;
}

#portfolio p{
    font-size: 25px;
}

.fullWidth{
    width: 100%;
}

#weather{
    height: 150px;
    width: 500px;
}

#feedback{
    height: 200px;
    width: 400px;
    padding: 10px;
}

#stinkFeet{
    background-color: black;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

#abraxas1{
    background-color: black;
}
.navbar {
    background-color: #7300FF !important;
}

#project{
    background-color: #35DEF5;
    color: black;
    padding: 20px;
}

#project img{
    border-radius: 10px;
}

#project .navigate{
    font-size: 40px;
}

#projecy .navigate:hover{
    color: yellow;
}

#project a{
    text-decoration: none;
}